/* * * * * * * * * * * * * * * * * * * * *
General
* * * * * * * * * * * * * * * * * * * * */
*{
    box-sizing: border-box;
}
  
.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}
  
h1 {
    font-family: 'Roboto', sans-serif;
}

body{
    background:#f7e3e5;
}
@font-face{
    font-family:"logo-font";
    src:url(../Assignment4/fonts/LoveYaLikeASister.ttf)
}
@font-face{
    font-family:"Title-font";
    src:url(../Assignment4/fonts/FreckleFace-Regular.ttf)
}
@font-face{
    font-family:"p-font";
    src:url('../Assignment4/fonts/PoorStory-Regular.ttf')
}
@font-face{
    font-family:"footer-header-font";
    src:url('../Assignment4/fonts/ChelseaMarket-Regular.ttf')
}
@font-face{
    font-family:"footer-font";
    src:url('../Assignment4/fonts/PoorStory-Regular.ttf')
}
/* * * * * * * * * * * * * * * * * * * * *
Headers
* * * * * * * * * * * * * * * * * * * * */
header {
    height: 66px;
    font-size:20px;
    font-family:"logo-font",sans-serif;
    font-weight:bold;
}

header .container{
    height:65px;
}

.logo{
    width:100px;
    color:black;
    margin-right:auto;
}

.logo span{
    margin-left:10px;
    white-space:nowrap;
    text-transform:uppercase;
}

header ul{
    margin-bottom:0;
    display:flex;
    justify-content: space-between;

}

header ul li{
    list-style:none;
}

header ul li a{
    display:flex;
    flex-direction:row;
    width: 100%;
    text-transform:uppercase;
    height:66px;
    padding:0 10px;
    display: flex;
    align-items:center;
    color:black;
}

ul li a:hover{
    background:grey;
    text-decoration:none;
    color:pink;
}

.hamburger-icon{
    display:none;
    background:transparent;
    border:none;
}
@media (max-width:600px) {
    header ul{
        display:none;
    }
    .hamburger-icon{
        display:block;
    }
} 

/* * * * * * * * * * * * * * * * * * * * *
Hero
* * * * * * * * * * * * * * * * * * * * */
.hero {
    color:white;
    padding:20px;
    height: 600px;
    background-image:
        linear-gradient(
            -170deg,
            rgba(221, 207, 207, 0) 30%,
            rgba(44, 40, 40, 0.993)), 
            url('../Assignment4/images/img-11.jpg');
    background-size:cover;
    background-position:50% 20%;
}

.hero .container{
    height:550px;
    display:flex;
    align-items:flex-end;
}

.hero-content{
    width:60%;
}

h1{
    font-family:"title-font",sans-serif;
    font-size:50px;
}

.hero button{
    color:white;
    background:rgb(187, 72, 72);
    border:none;
    font-size:20px;
    font-family:"p-font",sans-serif;
}

p{
    font-family:"p-font",sans-serif;
    font-size:30px;
}

/* * * * * * * * * * * * * * * * * * * * *
Main-Products Display
* * * * * * * * * * * * * * * * * * * * */

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1100px;
}

button{
    color:white;
    background:rgb(187, 72, 72);
    border:none;
    font-size:20px;
    font-family:"p-font",sans-serif;
}

h2{
    font-size:18px;
    font-family:"footer-header-font",sans-serif;
}

.main-container{
    margin:80px 0;
    position:relative;
    width:100%;
    height:400px;
    margin-bottom:40px;
}

.pic-container-1{
    background:url('./images/img-12.jpg');
    background-size:cover;
    background-position:50% 50%;
    height:100%;
    width:80%;
    position:absolute;
    bottom:0;
    right:0;
}

.text-container-1{
    background:white;
    height:280px;
    width:350px;
    position:absolute;
    bottom:0;
    left:0;
    padding:20px;
}

.pic-container-2{
    background:url('./images/img-13.jpg');
    background-size:cover;
    background-position:50% 50%;
    height:100%;
    width:80%;
    position:absolute;
    bottom:0;
    left:0;
}
.text-container-2{
    background:white;
    height:280px;
    width:350px;
    position:absolute;
    bottom:0;
    right:0;
    padding:20px;
}


.pic-container-3{
    background:url('./images/img-14.jpg');
    background-size:cover;
    background-position:50% 50%;
    height:100%;
    width:80%;
    position:absolute;
    bottom:0;
    right:0;
}

.text-container-3{
    background:white;
    height:280px;
    width:380px;
    position:absolute;
    bottom:0;
    left:0;
    padding:20px;
}

.pic-container-4{
    background:url('./images/img-15.jpg');
    background-size:cover;
    background-position:50% 50%;
    height:100%;
    width:80%;
    position:absolute;
    bottom:0;
    left:0;
}

.text-container-4{
    background:white;
    height:280px;
    width:350px;
    position:absolute;
    bottom:0;
    right:0;
    padding:20px;
}


@media(max-width: 850px) {
    .main-container {
        margin-bottom: 420px;
    }

    .pic-container-1 {
        width: 100%;
        top: 0;s
    }

    .text-container-1{
        top: 100%;
        width: 100%;
    }
}

@media(max-width: 850px) {
    .main-container {
        margin-bottom: 420px;
    }

    .pic-container-2 {
        width: 100%;
        top: 0;s
    }

    .text-container-2{
        top: 100%;
        width: 100%;
    }
}

@media(max-width: 850px) {
    .main-container {
        margin-bottom: 420px;
    }

    .pic-container-3 {
        width: 100%;
        top: 0;s
    }

    .text-container-3{
        top: 100%;
        width: 100%;
    }
}

@media(max-width: 850px) {
    .main-container {
        margin-bottom: 420px;
    }

    .pic-container-4 {
        width: 100%;
        top: 0;s
    }

    .text-container-4{
        top: 100%;
        width: 100%;
    }
}

/* * * * * * * * * * * * * * * * * * * * *
Footer
* * * * * * * * * * * * * * * * * * * * */

footer {
    height: 300px;
    background: rgb(248, 192, 192);
    padding:5px 0px;
}

footer h2{
    color:#4d4d4d;
    font-family:"footer-header-font",sans-serif;
    font-weight:bold;
    font-size:0.9em;
    text-transform:uppercase;
    margin:10px 0 20px 0;
}

footer ul{
    margin:0 0 20px 0;
    padding:0;
}

footer li{
    list-style:none;
    margin-top:8px;
    font-family:"footer-font",sans-serif;
    font-size:25px;
}

footer a{
    color:gray;
    text-decoration:none;
    font-size:0.8em;
    font-weight:300;
}

.social-icons{
    display:flex;
}

.social-icons li{
    flex: 1;
}